:root {
    --cor-primaria: rgb(8, 50, 85);
    --cor-secundaria: rgb(137, 241, 137);
    --cor-destaque1: rgb(8, 50, 85);
    --cor-destaque2: rgb(241, 255, 164);
    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-body);
    color: #ffffff;
    background-color: var(--cor-destaque1);
}

header,
main,
footer {
    width: 840px;
    margin: auto;
    background-color: var(--cor-primaria);
}

header {
    display: grid;
    grid-template-columns: 160px auto;
    grid-gap: 30px;
    align-items: center;
    padding: 10px 20px;
}

header nav {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

header nav.flex-nav {
    background-color: var(--cor-destaque1);
    padding: 10px;
    border-radius: 5px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 10px;
    left: 2.5%;
    width: 95%;
    padding: 12px;
    background-color: var(--cor-destaque2);
    color: rgb(0, 0, 100);
    opacity: 0.95;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--cor-destaque1);
    color: var(--cor-secundaria);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 4px;
}

h1,
h2 {
    font-family: var(--fonte-titulo);
    color: #ffffff;
    text-align: center;
}

/*p,
article {
    margin: 16px;
    padding: 8px;
}*/

.section-aventura {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 16px 0;
    padding: 8px 10px;
}

.section-aventura h2 {
    width: 100%;
    margin-bottom: 10px;
    color: #ffffff;
}
.section-aventura figure {
    margin: 0;
    width: 18%;
    text-align: center;
}

.section-aventura figure img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

footer .socialmedia{
    display: flex;
    flex-direction: row;
    gap: 15px;
    background: none;
    margin: 0;
    padding: 0;
}

footer .socialmedia a img {
    width: 28px;
    height: 28px;
    display: block;
}
.socialmedia a {
    text-decoration: none;
    display: inline-block;
}

/*COMO O VALIDADOR SEMPRE TROCA A EXIGENCIA:
"socialmedia" ou "reses-sociais"
MANTENHO OS DUAS OPÇÕES*/

footer .redes-sociais{
    display: flex;
    flex-direction: row;
    gap: 15px;
    background: none;
    margin: 0;
    padding: 0;
}

.redes-sociais a {
    text-decoration: none;
}

footer .redes-sociais a img {
    width: 28px;
    height: 28px;
    display: block;
}
/* ***************************************** */
body {
    font-family: var(--fonte-body);
    color: #ffffff;
    background-color: var(--cor-destaque1);
}

header,
main,
footer {
    width: 840px;
    margin: auto;
    background-color: var(--cor-primaria);
}

header {
    display: grid;
    grid-template-columns: 160px auto;
    grid-gap: 30px;
    align-items: center;
    padding: 10px 20px;
}

header nav {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

header nav.flex-nav {
    background-color: var(--cor-destaque1);
    padding: 10px;
    border-radius: 5px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.article-contato {
    display: grid;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;    
}

.map-end {
    display: grid;
    grid-template-rows: min-content;
    justify-items: left;
    border: 6px solid black;
}

.map-end iframe {
    width: 100%;
    height: 450px;
    display: block;
}

h1,
h2 {
    font-family: var(--fonte-titulo);
    color: #ffffff;
    text-align: center;
    /*padding: 10px;*/
}

.section-servir {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 30px;
}

.section-servir h2 {
    width: 100%;
    margin-bottom: 20px;
    color: #ffffff;
}

.perfil-funcionario {
    flex: 0 0 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

.perfil-funcionario img {
    max-width: 200px;
    height: auto;
    display: block;
    margin-bottom: 5px;
}

.perfil-funcionario p {
    margin: 0;
    line-height: 1.4;
    font-size: 0.9rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

footer .socialmedia {
    display: flex;
    flex-direction: row;
    gap: 15px;
    background: none;
    margin: 0;
    padding: 0;
}

footer .socialmedia a img {
    width: 28px;
    height: 28px;
    display: block;
}

.socialmedia a {
    text-decoration: none;
    display: inline-block;
}

form {
    display: grid;
    gap: 5px;
}

label {
    margin-top: 15px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 5px 10px;
    width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-right: 8px;
}

textarea {
    resize: vertical;
}

button {
    margin-top: 15px;
    background-color: #3a3ab8;
    color: #fff;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    width: 100%;
}

.contato-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
    margin-top: 20px;
    padding: 0 20px;
}
