* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-de-fundo-geral: #2d2e2c;
    --fonte-titulo: Arial, Helvetica, sans-serif;
    --padding-geral: 1rem;
    --bordas: 2px #070707;
    --cor-de-titulo: black;
    --padding-para-links: 10px,
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #222;
    background: #fff;
    margin: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    color: #000;
    text-align: center;
    position: relative;
    background-color: #000;
    margin: 0;
    border: none;
    height: auto;
    padding: 0;
    box-shadow: inset 0 -3em 3em rgba(12, 12, 12, 0.3),
        0 0 0 2px rgb(250, 249, 249),
        0.3em 0.3em 1em rgba(24, 23, 23, 0.6);

}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 185px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    margin-left: 4px;
    border: black;
    padding: var(--padding);
    box-shadow:
        inset 0 -3em 3em rgba(12, 12, 12, 0.3),
        0 0 0 2px rgb(12, 12, 12),
        0.3em 0.3em 1em rgba(24, 23, 23, 0.6);
}

p {
    padding: 0;
    text-align: justify;
}

footer {
    margin-top: 2px;
    border-top: 2px;
    border-bottom: var(--bordas);
    text-align: center;
}

nav {
    background-color: var(--cor-de-fundo-geral);
    padding: var(--padding-para-links);
}

nav a {
    color: steelblue;
    padding: var(--padding-para-links);
    display: block;
}

h1 {
    font: var(--fonte-titulo);
    color: var(--cor-de-titulo);
    font-size: x-large;
    text-align: center;
}

/*Seletores de Classe*/
.caixa {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.identacao {
    padding-left: 2rem;
}