:root {
    --cor-de-fundo-geral: #2d2e2c;
    --fonte-titulo: 'Lucida Grande';
    --padding-geral: 1rem;
    --bordas: 2px #070707;
    --cor-de-titulo: black;
    --padding-para-links: 2px,

}

* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--bordas);
    padding: var(--padding-geral);
    background-color: Var(--cor-de-fundo-geral);
    color: white;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: var(--bordas);
    padding: var(--padding);
    box-shadow: rgb(241, 241, 197);
}

p {
    padding: var(--padding-geral);
    text-align: center;
}

footer {
    margin-top: 2px;
    border-top: 2px;
    border-bottom: var(--bordas);
    text-align: center;
}

nav {
    background-color: var(--cor-de-fundo-geral);
    padding: var(--padding-para-links);
}

nav a {
    color: blue;
    padding: var(--padding-para-links);
    display: block;
}

h1 {
    font: var(--fonte-titulo);
    color: var(--cor-de-titulo);
}